<!DOCTYPE html>
<html>

<head>
      <link rel="stylesheet" href="style.css">
</head>

<body>
      <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

      <div class="wrapper">
            <div class="sidebar">
                  <h2>Educaplus</h2>
                  <ul>
                        <li><a href="{% url 'educaplus:indextest' %}"><i class="fas fa-home"></i>Home</a></li>
                        <li><a href="https://calendar.google.com"><i class="fas fa-user"></i>Calendario</a></li>
                        <li><a href="https://classroom.google.com/u/0/h"><i class="fas fa-address-card"></i>Tareas</a>
                        </li>
                        <li><a href="https://gmail.com"><i class="fas fa-project-diagram"></i>Correo</a></li>
                        <li><a href="{% url 'educaplus:notas' %}"><i class="fas fa-blog"></i>Notas</a></li>
                        <li><a href="{% url 'educaplus:start' %}"><i class="fas fa-address-book"></i>Cerrar Sesión</a>
                        </li>
                  </ul>
                  <div class="social_media">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
            </div>
            <div class="main_content">
                  <div class="header">Hola</div>
                  <div class="info">
                  </div>
            </div>
      </div>
      </div>
      </div>
</body>

</html>